In [5]:
b_list = [1, 2, 3, 4, 5]
3 in b_list

True

In [6]:
import bisect
listc = [1,2,3,4,4,5,5,5,6,6,6]
bisect.bisect(listc, 13)

11

In [7]:
bisect.bisect(listc, 4)

5

In [9]:
_list = ['string', 'string2', 'string3']
mapping = {}

for i, v in enumerate(_list):
    mapping[v] = i
mapping

{'string': 0, 'string2': 1, 'string3': 2}

In [11]:
sorted('python science')

[' ', 'c', 'c', 'e', 'e', 'h', 'i', 'n', 'n', 'o', 'p', 's', 't', 'y']

In [12]:
#zip
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [13]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(i,a,b)

0 foo one
1 bar two
2 baz three

In [14]:
dict1 = {'a': 'some_value', 'b': [1,2,3,4,5]}
dict1

{'a': 'some_value', 'b': [1, 2, 3, 4, 5]}

In [15]:
dict1[7] = 'an integer'
dict1

{'a': 'some_value', 'b': [1, 2, 3, 4, 5], 7: 'an integer'}

In [16]:
print(dict1[7], dict['b'])

an integer dict['b']

In [18]:
tuple(dict1.keys())

('a', 'b', 7)

In [3]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [4]:
by_letter = {}

In [6]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [7]:
hash('string')

-9031268079467648735

In [9]:
hash((1,2, (2,3)))

-9209053662355515447

In [11]:
d= {}
d[tuple([1,2,3])] = 5
d

{(1, 2, 3): 5}

In [12]:
set({2,2,2,1,1,1,3,3,3,4})

{1, 2, 3, 4}

In [13]:
a = {1,2,3,4,5}
b = {2,3,5,3,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
a|b

{1, 2, 3, 4, 5, 6, 7}

In [15]:
a.intersection(b)

{2, 3, 5}

In [16]:
a&b

{2, 3, 5}

In [ ]:
a.update(b)

In [18]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [19]:
unique = {len(x) for x in strings}
unique

{1, 2, 3, 4, 6}

In [20]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [21]:
all_data = [['a','b','c','d','e'],['e','f','g','h','i']]
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [22]:
result

[]

In [23]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]